@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "d-flex me-4 w-25" }))
{
    <input class="form-control w-75 me-2" name="q" type="search" placeholder="Açıklama, Mahalle ve Tipe göre arama" aria-label="Search" autocomplete="off">
    <button class="btn btn-outline-light w-25" type="submit"><i class="fas fa-search"></i></button>
}


