
@{
    ViewBag.Title = "Update";
}

<div class="container-fluid">
    <div class="row mx-5 mt-3">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 my-5">
            <div class="card p-5 pt-0 mb-5 mx-auto" style="width:700px;">
                <img src="~/Content/images/logo.bmp" class="" style="width:600px;">
                <h4 class="text-success mx-auto mb-1">
                    Güncelleme Başarılı..
                </h4>


            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

